<footer>
    <div class="">
  
      <footer class="text-center text-lg-start" style="background-color: #110f16;">
        <div class="container d-flex justify-content-center flex-column align-items-center text-center ">
          <div class="row">
            
          </div>
          <p class="text-white" style="font-size: 15px;" >Travel, where every step unveils a new adventure, and every destination paints a unique story.</p>
         
        </div>
    
        <!-- Copyright -->
        <div class="text-center text-white " style="background-color: rgba(0, 0, 0, 0.2);">
         Created By Vaqsi
         
        </div>
        <!-- Copyright -->
      </footer>
      
    </div>
  </footer>