

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

:root {
  --bg-color: #ffffff;
  --text-color: #333333;
  --section-rotate: 9vw;
}

.he {
  font-family: 'Shadows Into Light', cursive;

}
.user-message {
 
  width: 60%;
  border: 1px solid #4771fa;
  padding: 0.5rem;
  border-radius: 3px;

  text-align: center;
}

.user-message--error {
  border-color: red;
  margin-top: 100px;
  color: red;
  margin-bottom: 20px
}


.user-message1 {
  margin: auto;
  width: 100%;
  border: 1px solid #4771fa;
  padding: 0.5rem;
  border-radius: 3px;

  text-align: center;
}

.user-message--error1 {
  border-color: red;

  color: red;
}

.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
  }
  
  @media (min-width: 1025px) {
  .h-custom-2 {
  height: 100%;
  }
  }

.dark-mode {
  --bg-color: #333333;
  --text-color: #ffffff;
  
}


body {
  background-color: var(--bg-color);
  color: #7D7987;
}

:root {
  --slider-font: 'Rubik', sans-serif;
  --slider-font-two: 'Federo', sans-serif;
  --slider-sayinistic-font: 'the_sayinisticitalic';
  --slider-gray: #707070;
  --slider-gray-rgb: 112, 112, 112;
  --slider-primary: #dd0429;
  --slider-primary-rgb: 221, 4, 41;
  --slider-black: #17161a;
  --slider-black-rgb: 23, 22, 26;
  --slider-base: #ffffff;
  --slider-base-rgb: 255, 255, 255;
  --slider-extra: #f6f6f6;
  --slider-extra-rgb: 246, 246, 246;
  --slider-bdr-color: #e3e3e3;
  --slider-bdr-color-rgb: 227, 227, 227;
}
/*--------------------------------------------------------------
# Main Slider
--------------------------------------------------------------*/
.main-slider {
  position: relative;
  display: block;
  overflow: hidden;
}

.main-slider .swiper-slide {
  position: relative;
  background-color: var(--slider-black);
  height: 100vh;
}

.item {
  letter-spacing: .050em;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
}
.oh{
  color: #ffffff;
  font-size: 30px;
}

.navbar-toggler{
 
  background-color: white !important;
}

.main-slider .image-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: scale(1);
  opacity: .15;
  background-color: var(--slider-black);
  background-blend-mode: luminosity;
  transition: transform 7000ms ease, opacity 1500ms ease-in;
  z-index: 1;
  height: 100vh; /* Make sure the image layer takes up the full height */
}

.main-slider .swiper-slide-active .image-layer {
  opacity: 0.20;
}


.main-slider-badge {
  position: absolute;
  top: 190px;
  right: 90px;
  opacity: 0;
  transform: translateX(200px);
  z-index: 2;
  animation: sunMove 10s linear infinite;
}

.main-slider .swiper-slide-active .main-slider-badge {
  opacity: 1;
  transform: translate(0);
  transition: all 1000ms ease;
  transition-delay: 200ms;
}

.main-slider__social {
  position: absolute;
  bottom: 484px;
  left: -57px;
  z-index: 100;
  display: flex;
  align-items: center;
  transform: rotate(-90deg);
}

.main-slider__social a {
  position: relative;
  display: inline-block;
  color: var(--slider-base);
  font-size: 13px;
  font-family: var(--slider-font-two);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.main-slider__social a:before {
  position: absolute;
  top: 17px;
  left: -10px;
  right: -10px;
  content: "";
  height: 1px;
  background-color: var(--slider-primary);
  transition: transform 500ms ease;
  transform: scale(0, 1);
  transform-origin: left center;
}

.main-slider__social a:hover:before {
  transform: scale(1, 1);
  transform-origin: right center;
}

.main-slider__social a+a {
  margin-left: 50px;
}

.main-slider .container {
  position: relative;
  padding-top: 246px;
  padding-bottom: 145px;
  z-index: 30;
}

.main-slider__content {
  position: relative;
  display: block;
  text-align: center;
  z-index: 30;
}

.main-slider .main-slider__title-box-1 {
  position: relative;
  display: block;
}

.main-slider .main-slider__title-box-1 h2 {
  margin: 0;
  margin-bottom: 58px;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transform: translateY(120px);
  transition-delay: 1000ms;
  transition: transform 2000ms ease, opacity 2000ms ease;
  font-size: 190px;
  line-height: 150px;
  text-transform: uppercase;
  z-index: 30;
}

.main-slider .main-slider__title-box-2 {
  position: absolute;
  top: 0;
  left: -80px;
  right: 0;
  bottom: 0;
}

.main-slider .main-slider__title-box-2 h2 {
  margin: 0;
  margin-bottom: 58px;
  color: transparent;
  -webkit-text-stroke: 1px rgba(var(--slider-base-rgb), .10);
  opacity: 0;
  visibility: hidden;
  transform: translateY(120px);
  transition-delay: 1000ms;
  transition: transform 2000ms ease, opacity 2000ms ease;
  font-size: 190px;
  line-height: 150px;
  text-transform: uppercase;
  z-index: 30;
}

.main-slider .thm-btn {
  opacity: 0;
  transform: translateY(-100px);
  transition-delay: 2500ms;
  transition: transform 2000ms ease,
      opacity 2000ms ease,
      color 500ms ease,
      background 500ms ease;
}

.main-slider .swiper-slide-active .image-layer {
  transform: scale(1.15);
}

.main-slider .swiper-slide-active .thm-btn,
.main-slider .swiper-slide-active .main-slider__title-box-1 h2,
.main-slider .swiper-slide-active .main-slider__title-box-2 h2 {
  visibility: visible;
  opacity: 1;
  transform: translateY(0) translateX(0);
}


@media (min-width: 768px) {
	.section-sm {
		padding: 40px 0;
	}
	.section-sm.section-first {
		padding-top: 80px;
	}
	.section-sm.section-last {
		padding-bottom: 80px;
	}
	.section-md {
		padding: 70px 0;
	}
	.section-lg {
		padding: 80px 0;
	}
	.section-xl {
		padding: 90px 0;
	}
}

@media (min-width: 992px) {
	.section-sm {
		padding: 80px 0 !important;
	}
	.section-sm.section-first {
		padding-top: 100px !important;
	}
	.section-sm.section-last {
		padding-bottom: 100px !important;
	}
	.section-md {
		padding: 80px 0 !important;
	}
	.section-lg {
		padding: 90px 0 !important;
	}
	.section-inset-custom-6,
	.section-xl {
		padding: 100px 0 !important;
	}
	.desktop .section-top-1 {
		padding-top: 0 !important;
	}
}



.button.button-secondary:hover {
  color: white !important;
}



.places{
  padding: 140px 0px 120px;
}

.popular {
  font-size: 28px;
  color: #091e40;
}

.text {
  font-size: 38px;
  color: #091e40;
  margin-bottom: 50px;
}


.profile-card-2 {
   
    background-color: #FFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    background-position: center;
    overflow: hidden;
    position: relative;
   
    cursor: pointer;
    border-radius: 10px;
}

.profile-card-2 img {
    transition: all linear 0.25s;
}

.profile-card-2 .profile-name {
    position: absolute;
    left: 30px;
    bottom: 70px;
    font-size: 30px;
    color: #FFF;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: #FFF;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-username {
    position: absolute;
    bottom: 50px;
    left: 30px;
    color: #FFF;
    font-size: 13px;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons .fa {
    margin: 5px;
}

.profile-card-2:hover img {
    filter: grayscale(100%);
}

.profile-card-2:hover .profile-name {
    bottom: 80px;
}

.profile-card-2:hover .profile-username {
    bottom: 60px;
}

.profile-card-2:hover .profile-icons {
    right: 40px;
}








@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main-slider-badge {
      display: none;
  }

  .main-slider__social {
      display: none;
  }

  .main-slider .main-slider__title-box-1 h2 {
      font-size: 140px;
      line-height: 114px;
  }

  .main-slider .main-slider__title-box-2 h2 {
      font-size: 140px;
      line-height: 114px;
  }

  .main-slider .container {
      padding-top: 254px;
  }
}
@media only screen and (max-width: 767px) {
  .main-slider-badge {
      display: none;
  }

  .main-slider__social {
      display: none;
  }

  .main-slider .main-slider__title-box-1 h2 {
      font-size: 60px;
      line-height: 56px;
  }

  .main-slider .main-slider__title-box-1 h2 br {
      display: none;
  }

  .main-slider .main-slider__title-box-2 h2 {
      font-size: 63px;
      line-height: 56px;
  }

  .main-slider .main-slider__title-box-2 h2 br {
      display: none;
  }

  .main-slider .main-slider__title-box-2 {
      left: -23px;
  }

  .main-slider__nav {
      display: none;
  }

  .main-slider .container {
      padding-top: 252px;
      padding-bottom: 145px;
  }
}
  




  
  
  


/* .card__actions a, */




.pagination {
  margin-top: 2rem;
  text-align: center;
}

.pagination a {
  text-decoration: none;
  color: #00695c;
  padding: 0.5rem;
  border: 1px solid #00695c;
  margin: 0 1rem;
}

.pagination a:hover,
.pagination a:active,
.pagination a.active {
  background: #00695c;
  color: white;
}


.btn-link{
  border: none;
  background: none;
}

.card-container {
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 7rem;
}










.maxx{
  align-items: center;
  flex-direction: row;
  justify-content: center;
  display: flex;
}














.heading-box__detail:not(:last-child) {
  margin-right: 4rem;
}
.heading-box__detail {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
}

.heading-box__detail svg {
  margin-right: 0.8rem;
}
.heading-box__icon {
  height: 2rem;
  width: 2rem;
  fill: currentColor;
  -webkit-filter: drop-shadow(0 0.75rem 0.5rem rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0 0.75rem 0.5rem rgba(0, 0, 0, 0.25));
}

.header__hero-img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
  -o-object-position: 50% 25%;
  object-position: 50% 25%;
}

.heading-box span {
  color: white;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-description {
  
  margin-top: calc(0px - var(--section-rotate));
  display: -webkit-box;
  display: -ms-flexbox;
  background-color: #f7f7f7;

}

.section-description > * {
  padding: 0 1vw;
  padding-top: 14vw;
  padding-bottom: calc(1vw + var(--section-rotate));
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  background-color: #f7f7f7;
}

.overview-box {
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.overview-box__group:not(:last-child) {
  margin-bottom: 7rem;
}

.heading-secondary {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: -webkit-gradient( linear, left top, right top, from(#7dd56f), to(#28b487) );
  background-image: linear-gradient(to right, #7dd56f, #28b487);

  color: transparent;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  display: inline-block;
}

.overview-box__detail:not(:last-child) {
  margin-bottom: 2.25rem;
}
.overview-box__detail {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 400;
}

.overview-box__detail svg {
  margin-right: 1.25rem;
}
.overview-box__icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: #55c57a;
}

.overview-box__label {
  font-weight: 700;
  margin-right: 2.25rem;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.overview-box__text {
  text-transform: capitalize;
}

.heading-secondary {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: -webkit-gradient( linear, left top, right top, from(#7dd56f), to(#28b487) );
  background-image: linear-gradient(to right, #7dd56f, #28b487);

  color: transparent;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  display: inline-block;
}

.ma-bt-lg {
  margin-bottom: 3.5rem !important;
}

.description-box .description__text:not(:last-child) {
  margin-bottom: 2rem;
}

.description-box .description__text {
  font-size: 1.7rem;
}


.description-box .description {
  margin-right: 5rem;
}
.description-box .description__text {
  font-size: 1.7rem;
}
.description-box .description__text:not(:last-child) {
  margin-bottom: 2rem;
}
.section-description > * {
  padding: 0 10px;
  padding-top: 14vw;
  padding-bottom: calc(1vw + var(--section-rotate));
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.overview-box__label, .overview-box__text{
  font-size: 14px;
  margin: 0px 22.5px 0px 0px;
  color: #777777;
}

.overview-box__icon {
  height: 1.25rem !important;
  width: 1.25rem !important;
  fill: #55c57a !important;
}

.overview-box {
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.description__text{
  font-size: 17px !important;
  margin: 0px 0px 20px !important;
  color: #777777 !important;
}

.section-pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  clip-path: polygon( 0 var(--section-rotate), 100% 0, 100% calc(100% - var(--section-rotate)), 0 100% );
  -webkit-clip-path: polygon( 0 var(--section-rotate), 100% 0, 100% calc(100% - var(--section-rotate)), 0 100% );
  margin-top: calc(0px - var(--section-rotate));
  position: relative;
  z-index: 1000;
}

.picture-box__img {
  display: block;
  width: 100%;
  height: 110%;
  -o-object-fit: cover;
  object-fit: cover;
}
.picture-box__img--1 {
  padding-top: 15%;
}
.picture-box__img--2 {
  padding-bottom: 15%;
}
.picture-box__img--3 {
  padding-bottom: 27%;
}

.picture-box__img--1 {
  padding-top: 15%;
}
.picture-box__img {
  display: block;
  width: 100%;
  height: 110%;
  -o-object-fit: cover;
  object-fit: cover;
}

.section-cta {
  margin-top: calc(0px - var(--section-rotate));
  padding: 3rem;
  padding-bottom: 11rem;
  padding-top: calc(4rem + var(--section-rotate));
  background-color: #f7f7f7;
}

.cta {
  position: relative;
  max-width: 105rem;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
  padding: 9rem 5rem 9rem 21rem;
  border-radius: 2rem;
  -webkit-box-shadow: 0 3rem 8rem 0.5rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 3rem 8rem 0.5rem rgba(0, 0, 0, 0.15);
}

.cta__img--logo {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: -webkit-gradient( linear, left top, right bottom, from(#7dd56f), to(#28b487) );
  background: linear-gradient(to right bottom, #7dd56f, #28b487);
  z-index: 10;
  -webkit-transform: translate(-35%, -50%);
  transform: translate(-35%, -50%);
}
.cta__img {
  height: 1rem;
  width: 1rem;
  position: absolute;
  left: 0;
  top: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 1rem 0.5rem 3rem rgba(0, 0, 0, 0.15);
  box-shadow: 1rem 0.5rem 3rem rgba(0, 0, 0, 0.15);
}

.cta__img--1 {
  -webkit-transform: translate(-10%, -70%) scale(0.97);
  transform: translate(-10%, -50%) scale(0.97);
  z-index: 9;
  width: 200px !important;
  height: 200px !important;
}

.cta__img--2 {
  -webkit-transform: translate(15%, -50%) scale(0.94);
  transform: translate(15%, -50%) scale(0.94);
  z-index: 8;
  width: 200px !important;
  height: 200px !important;
}

.cta__content {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr auto;
  grid-gap: 0.5rem;
  grid-auto-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 100px;
}

.heading-secondary {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: -webkit-gradient( linear, left top, right top, from(#7dd56f), to(#28b487) );
  background-image: linear-gradient(to right, #7dd56f, #28b487);

  color: transparent;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  display: inline-block;
}

.section-cta {
  margin-top: calc(0px - var(--section-rotate));
  padding: 4rem;
  padding-bottom: 11rem;
  padding-top: calc(6rem + var(--section-rotate));
  background-color: #f7f7f7;
}

.cta {
  position: relative;
  max-width: 105rem;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
  padding: 5rem 5rem 5rem 10rem;
  border-radius: 2rem;
  -webkit-box-shadow: 0 3rem 8rem 0.5rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 3rem 8rem 0.5rem rgba(0, 0, 0, 0.15);
}
.cta__img {
  height: 15rem;
  width: 15rem;
  position: absolute;
  left: 0;
  top: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 1rem 0.5rem 3rem rgba(0, 0, 0, 0.15);
  box-shadow: 1rem 0.5rem 3rem rgba(0, 0, 0, 0.15);
}

.btn--green {
  background-color: #55c57a;
  color: #fff;
}
.span-all-rows {
  grid-row: 1 / -1;
}

.btn, .btn:link, .btn:visited {
  font-size: 13px;
  padding: 0.5rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 400;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: none;
  cursor: pointer;
}

.heading-secondary {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: -webkit-gradient( linear, left top, right top, from(#7dd56f), to(#28b487) );

  color: transparent;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  display: inline-block;
}
.description-box {
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-direction: column;
}



.but, .but:link, .but:visited {
  font-size: 1rem;
  padding: 1rem 4rem;
  border-radius: 10rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 400;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: none;
  cursor: pointer;
}

.card .but-small,
.card .but {
  grid-row: 1 / 3;
  justify-self: end;
  -ms-flex-item-align: center;
  align-self: center;
}

.but--green {
  background-color: #55c57a;
  color: #fff;
}

.but:hover {
  background-color: #00695c;
  color: white;
}


@media screen and (max-width: 800px) {
  .heading-secondary {
font-size: 16px !important;
  }
  .section-description {
    background-color: #f7f7f7;
    margin-top: calc(0px - var(--section-rotate));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-top: 55px;
  }
  .section-header {
    position: relative;
    height: 50vw;
    clip-path: polygon( 0 0, 100% 0, 100% calc(100% - var(--section-rotate)), 0 100% );
    
}
.heading-box__group {
 
  margin-top: 2rem;
 
}
.heading-box__detail {
  font-size: 1rem;
  font-weight: 700;
  
}
.heading-primary {
  font-size: 2rem;
 
}
.heading-box__icon {
  height: 1rem;
  width: 1rem;

}
  .heading-secondary {
    font-size: 17px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .cta__text{
    font-size: 14.5px;
  }
  .but{
    font-size: 13px !important;
    
    padding: 1rem 2rem !important;
    border-radius: 5rem;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    position: relative;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    font-weight: 400;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: none;
    cursor: pointer;
  }
}


@media screen and (max-width: 573px) {
  .heading-secondary {
    font-size: 13px !important;
    margin:0px 0px 10px !important;
}
.overview-box__label, .overview-box__text {
  font-size: 12px;
  margin: 0px 10px 0px 0px;
  color: #777777;
}
.overview-box__icon {
  height: 1rem !important;
  width: 1rem !important;

}
.overview-box{
  margin-bottom: 30px;
}
.heading-primary span {
  font-size: 50px;
}
.section-description > * {
  padding: 0 0px !important;
  padding-top: 14vw;
  padding-bottom: calc(1vw + var(--section-rotate));
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50% !important;
background-color: #f7f7f7;
}
  .cta {
    position: relative;
    /* max-width: 105rem; */
    margin: 0 auto;
    overflow: hidden;
    background-color: #fff;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 2rem;
    
}
  .cta__text{
    font-size: 13.5px;
  }
  .but{
    font-size: 12px !important;
    
    padding: 1rem 1rem !important;
    border-radius: 3rem;
   
  }
  .description__text{
    font-size: 12px !important;
    margin: 0px 0px 10px !important;
    color: #777777 !important;
  }
  
}


@media screen and (max-width:529px) {
  .description__text{
    font-size: 14px !important;
    margin: 0px 0px 20px !important;
    color: #777777 !important;
  }
  
}

.images{
  background-color: #f7f7f7;
  padding: 40px
}

.image img {
  height: 40vh;
  margin-top: 30px;
}

@media screen and (max-width: 500px) {
  .heading-box__detail {
    font-size: 0.6rem;
    font-weight: 700;
    
  }
  .heading-box__icon {
    height: 0.6rem;
    width: 0.6rem;
  
  }
}


@media screen and (max-width: 368px) {
  .heading-box__detail {
    font-size: 0.5rem;
    font-weight: 700;
    
  }
  .heading-box__icon {
    height: 0.5rem;
    width: 0.5rem;
  
  }
}


/* Cart */

.title{
  margin-bottom: 5vh;
}
.card{
  margin: auto;
  max-width: 950px;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
}
@media screen and (max-width:767px){
  .card{
      margin: 3vh auto;
  }
}
.cart{
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}
@media screen and (max-width:767px){
  .cart{
      padding: 4vh;
      border-bottom-left-radius: unset;
      border-top-right-radius: 1rem;
  }
}
.summary{
  background-color: #ddd;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(65, 65, 65);
}
@media screen and (max-width:767px){
  .summary{
  border-top-right-radius: unset;
  border-bottom-left-radius: 1rem;
  }
}
.summary .col-2{
  padding: 0;
}
.summary .col-10
{
  padding: 0;
}.row{
  margin: 0;
}
.title b{
  font-size: 1.5rem;
}
.main{
  margin: 0;
  padding: 2vh 0;
  width: 100%;
}
.col-2, .col{
  padding: 0 1vh;
}
a{
  padding: 0 1vh;
}
.close{
  margin-left: auto;
  font-size: 0.7rem;
}

.back-to-shop{
  margin-top: 4.5rem;
}
h5{
  margin-top: 4vh;
}
hr{
  margin-top: 1.25rem;
}

select{
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}
input{
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}
input:focus::-webkit-input-placeholder
{
    color:transparent;
}


.top{
  margin-top: 50px;
}

a{
  color: black; 
}
a:hover{
  color: black;
  text-decoration: none;
}
#code{
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253) , rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}



.pagination {
  margin-top: 2rem;
  text-align: center;
}

.pagination a {
  text-decoration: none;
  color: #00695c;
  padding: 0.5rem;
  border: 1px solid #00695c;
  margin: 0 1rem;
}

.pagination a:hover,
.pagination a:active,
.pagination a.active {
  background: #00695c;
  color: white;
}

.section-sm {
	padding: 30px 0;
}

.section-sm.section-first {
	padding-top: 60px;
}

.bg-default {
	background-color: #ffffff;
}

.bg-default:not([style*="background-"]) + .bg-default:not([style*="background-"]) {
	padding-top: 0;
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 40px, 0);
		transform: translate3d(0, 40px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 40px, 0);
		transform: translate3d(0, 40px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.fadeInRight {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
}

@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(40px, 0, 0);
		transform: translate3d(40px, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(40px, 0, 0);
		transform: translate3d(40px, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}


.tabs-custom .tabs-horizontal{
	text-align: left;
  color: #151515;
  font-size: 14px;
  margin: 28px 0px 0px;
}

.disc{
  font-size: 32px;
  color: #151515;
}

.nav-tabs .erti.active, .nav-tabs .nav-item.show .erti {
  color: #151515;
  background-color: var(--bs-nav-tabs-link-active-bg);
  border-color: var(--bs-nav-tabs-link-active-border-color);
}

a.erti{
  position: relative;
  color: #151515;
  font-size: 16px;
  padding: 0 20px 10px;
 
}



a.erti.active{
  color: #01B3A7 !important;
  font-size: 16px;
  padding: 0 10px 10px;
  border: none;
}

a.erti:hover {
  color: #01B3A7 !important;
  border: none;
}
.tab-pane {
	display: block;
	visibility: hidden;
	height: 0;
	overflow: hidden;
}

.tab-content > .tab-pane.active {
	height: auto;
}

.ios .tab-height, .mac-os .tab-height {
	height: 88px;
}

.tab-pane .button-pipaluk {
	padding: 20px 33px 19px;
}

.tab-pane .button-black-outline {
	padding: 16px 33px 16px;
}

.tab-content > .active {
	visibility: visible;
	overflow: visible;
}

* + .tabs-line {
	margin-top: 24px;
}

* + .tabs-line-big {
	margin-top: 28px;
}

* + .tabs-line-2 {
	margin-top: 26px;
}

a.erti::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 3px;
  width: 0; 
  background: #01b3a7;
  transition: .22s ease;
}


@media screen and (max-width:769px) {
  .tab-content p {
    font-size: 13px !important;
    color: #151515;
    margin: 0px 0px 0px !important;
    font-family: 'Montserrat', sans-serif;
}

}

a.erti.active::after {
  width: 100%; 
}

.tab-content p {
  font-size: 14px;
  color: #151515;
  margin: 0px 0px 0px !important;
  font-family: 'Montserrat', sans-serif;
}


.box-icon-classic {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px 18px;
  min-height: 100%;
  background: #ffffff;
  transition: all .2s ease;
  z-index: 1;
  height: 250px;
}

.box-icon-classic-icon {
  font-size: 36px;
  line-height: 1;
  color: #01b3a7;
  transition: all .2s ease-in-out;
}

.box-icon-classic {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 30px 18px;
	min-height: 100%;
	background: #ffffff;
	transition: all .2s ease;
	z-index: 1;
}

.box-icon-classic::before {
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 8px solid #f4f4f4;
	transition: all .2s ease;
	z-index: -1;
}

.box-icon-classic-3 .box-icon-classic-icon {
	color: #151515;
}


.box-icon-classic-icon {
	font-size: 36px !important;
	line-height: 1;
	color: #01b3a7;
	transition: all .2s ease-in-out;
}

.box-icon-classic-title {
	font-weight: 500;
  font-size: 20px;
  margin: 10px 0 0;
  color: #151515 !important;
}




.box-icon-classic-title a:hover {
	color: #01b3a7;
}


.box-icon-classic-3::before {
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
	border: 1px solid #e1e1e1;

}

.box-icon-classic::before {
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 8px solid #f4f4f4;
	transition: all .2s ease;
	z-index: -1;
}

.box-icon-classic:hover {
  transition-delay: .1s;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
}
.box-icon-classic:hover::before {
  border-width: 0;
}
.desktop .box-icon-classic-3:hover .box-icon-classic-icon {
  color: #50ba87;
}

.box-icon-classic-text {
	color: #9b9b9b;
}

@media screen and (min-width: 992px) {
	.desktop .box-icon-classic:hover {
		transition-delay: .1s;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
	}
	.desktop .box-icon-classic:hover::before {
		border-width: 0;
	}
	.desktop .box-icon-classic-3:hover {
		transition-delay: 0s;
	}
	.desktop .box-icon-classic-3:hover::before {
		border-width: 1px;
		top: 15px;
		right: 15px;
		bottom: 15px;
		left: 15px;
	}
	.desktop .box-icon-classic-3:hover .box-icon-classic-icon {
		color: #50ba87;
	}
}

* + .box-icon-classic-text {
	margin-top: 10px;
  padding: 0px 0px 0px !important;
}


@media screen and (min-width: 768px) {
	.box-icon-classic {
		padding-top: 54px;
		padding-bottom: 54px;
	}
}


.unit {
	display: flex;
	flex: 0 1 100%;
	margin-bottom: -20px;
	margin-left: -20px;
}

.unit > * {
	margin-bottom: 20px;
	margin-left: 20px;
}

.unit:empty {
	margin-bottom: 0;
	margin-left: 0;
}

.unit-body {
	flex: 0 1 auto;
}
.unit-left, .unit-right {
  flex: 0 0 auto;
  max-width: 100%;
 
  display: flex;
  flex-direction: row;
  align-items: center;
}

.feature-area {
  background: -webkit-gradient(linear,left top,left bottom,color-stop(100%,rgba(48,79,71,0.3)),to(rgba(48,79,71,0.4))),url(/img/tours/feature-bg-1.jpg) center no-repeat;
  background: linear-gradient(rgba(48,79,71,0.3) 100%,rgba(48,79,71,0.4) 100%),url(/img/tours/feature-bg-1.jpg) center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section-head {
  text-align: center;
  max-width: 516px;
  margin: 0 auto;
}
.section-head h5 {
  margin-bottom: 15px;
  font-family: quicksand,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #ff7f47;
}

.feature-area .section-head h2 {
  color: #fff;
}
.section-head h2 {
 
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 46px;
  text-transform: capitalize;
}

.strongg {
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  color: #ff7f47;
}

.strongg span {
  color: #a5a5a5;
  margin-left: 10px;
  font-size: 18px;
  text-decoration: line-through;
}
.label-product.label-sale {
  background: #ff3c20;
  right: 27px
}
.label-product {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  display: block;
  width: 40px;
  height: 40px;
  z-index: 7;
  border-radius: 50%;
  line-height: 40px;
  top: 28px;
  text-transform: capitalize;
  position: absolute;
}



.aaa{
  position: absolute;
}

.untree_co-section {
  padding: 70px 0; }


  .section-title {
    position: relative;
    padding-bottom: 20px;
    display: inline-block; }
    .section-title:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 30px;
      height: 2px;
      background: #1A374D; }
    .section-title.text-center:before {
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }


      .media-thumb {
        position: relative;
        display: block;
        cursor: pointer;
        overflow: hidden;
        border-radius: 20px; }
        .media-thumb:after {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          content: "";
          background: rgba(26, 55, 77, 0.8);
          z-index: 1;
          opacity: 0;
          visibility: hidden;
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease; }
        .media-thumb img {
          -webkit-transform: scale(1.03);
          -ms-transform: scale(1.03);
          transform: scale(1.03);
          -webkit-transition: .3s transform ease;
          -o-transition: .3s transform ease;
          transition: .3s transform ease; }
        .media-thumb .media-text {
          position: absolute;
          top: 20px;
          left: 40px;
          z-index: 2;
          opacity: 1;
          visibility: visible;
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease;
          margin-top: 20px; }
          .media-thumb .media-text h3 {
            font-size: 1rem;
            font-weight: 900;
            color: #1A374D;
            margin: 0;
            padding: 0; }
          .media-thumb .media-text .location {
            font-size: .8rem;
            color: rgba(26, 55, 77, 0.5); }
          .media-thumb .media-text h3, .media-thumb .media-text .location {
            -webkit-transition: .3s all ease;
            -o-transition: .3s all ease;
            transition: .3s all ease; }
        .media-thumb:hover {
          z-index: 3; }
          .media-thumb:hover h3 {
            color: #ffffff; }
          .media-thumb:hover .location {
            color: rgba(255, 255, 255, 0.5); }
          .media-thumb:hover img {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1); }
          .media-thumb:hover:after {
            opacity: 1;
            visibility: visible; }
          .media-thumb:hover .media-text {
            -webkit-transition-delay: .2s;
            -o-transition-delay: .2s;
            transition-delay: .2s;
            opacity: 1;
            visibility: visible; }


            .owl-carousel .owl-item img {
              display: block;
              width: 100%;
              height: 70vh !important;
          }



          @media screen and (max-width:426px) {
            .tour-item {
              width: 100% !important;
              margin-right: 10px;
              margin-bottom: 10px !important;
              display: flex;
              flex-wrap: nowrap;
              align-content: center;
              justify-content: center;
              align-items: center;
          }
          }


          @media screen and (max-width:376) {
            .es1{
              margin-left: 16px !important;
            }
            .containerr {
              width: 100%;
              background: #fff;
              margin-left: 200px;
              margin-top: 50px;
              display: flex !important;
              border-radius: 10px;
              -moz-border-radius: 10px;
              -webkit-border-radius: 10px;
              -o-border-radius: 10px;
              -ms-border-radius: 10px;
              align-content: center;
              justify-content: center;
              align-items: center;
          }
          }

          @media screen and (max-width: 426px) {
            .es1{
              margin-left: 16px !important;
            }
            .containerr {
                width: 0px;
                background: #fff;
                margin-top: 50px;
                margin-left: 0px !important;
            }

          }


    @media screen and (max-width:1024px) {
      .second3 {
      
        height: 1100px !important;
        width: 100%;
    }
    }

    @media screen and (max-width:1025px) {
      .lg{
        margin-top: 150px;
      }
    }